{% extends "TestCommonBundle::layout.html.twig" %}

{% block includes %}
    <link href="{{ asset('/bundles/a2lixtranslationform/css/a2lix_translation_default.css') }}" rel="stylesheet">
    <script src="{{ asset('/bundles/a2lixtranslationform/js/a2lix_translation_bootstrap.js') }}"></script>
    <script src="{{ asset('/js/bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}

{% block header %}
    <h1>Author edit</h1>
{% endblock %}

{% block content -%}
    <form action="{{ path('author_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">Edit</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('author') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('author_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
