<nav>
    <ul>
        <li><a href="{{ path('book') }}">Books</a> (<a href="{{ path('book_new') }}">add new</a>),
            <a href="{{ path('author') }}">Author</a> (<a href="{{ path('author_new') }}">add new</a>)</li>
        <li><a href="{{ path('film') }}">Films</a> (<a href="{{ path('film_new') }}">add new</a>),
            <a href="{{ path('actor') }}">Actor</a> (<a href="{{ path('actor_new') }}">add new</a>),
            <a href="{{ path('quality') }}">Quality</a> (<a href="{{ path('quality_new') }}">add new</a>)</li>
        <li><a href="{{ path('tag') }}">Tags</a>   (<a href="{{ path('tag_new') }}">add new</a>)</li>
    </ul>
</nav>